body#page-top {
    background-color: #8BBABB;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-style: normal;
    font-weight: normal;
    color: #FEF7E5;
    text-shadow: -8px 4px 4px #E89DA2;
}

button#friendButton {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    min-width: 200px;
    box-shadow: -6px 6px 2px #E89DA2;
    background-color: #FEF7E5;
}

input#submitBtn {
    display: block;
    color: black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    min-width: 200px;
    box-shadow: -6px 6px 2px #E89DA2;
    background-color: #FEF7E5;
    border: none;
}

table#friendtable {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1#homeh1 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-style: normal;
    font-weight: normal;
    color: #FEF7E5;
    text-shadow: -8px 4px 4px #E89DA2;
    font-size: 80px;
}

.h3exp {
    font-size: 15px; 
    font-family: Montserrat;
    text-align: left;
}

.font20 {
    font-size: 20px;
}

.expPage{
    text-shadow: -4px 3px 2px #E89DA2;
    font-size: 50px;
}

p {
    text-align: left;
    font-size: 10px;
}

.exp {
    text-align: left;
    font-size: 20px;
}

.box2 {
    border: 5px solid #FEF7E5;
    max-width: 1000px;
    height: 400px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: #FEF7E5;
    text-align: left;
    font-size: 20px;
    overflow: auto;
    font-family: Montserrat;
}

.modal{
    font-family: Abril Fatface;
}

.profilePhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 400px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: -10px 10px 1px #E89DA2;
}


.skills {
    max-width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-top: auto;
    max-width: 100px;
    max-height: 100px;
}

.head1 {
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* For width smaller than 400px: */
img#homepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    max-height: 500px;
    height: auto;
    margin-bottom: auto;
}

h1#homeh1 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-style: normal;
    font-weight: normal;
    color: #FEF7E5;
    text-shadow: -8px 4px 4px #E89DA2;
    font-size: 50px;
    margin-top: 10px;
}

button#socmed {
    font-family: 'Montserrat', cursive;
    font-size: 12px;
    min-height: 40px;
    min-width: 200px;
    box-shadow: -4px 4px 1px #E89DA2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FEF7E5;
    color: #5b8c85;
}

.profilePhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 400px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: -4px 4px 1px #E89DA2;
}

.box {
    border: 5px solid #FEF7E5;
    max-width: 500px;
    height: 400px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: #FEF7E5;
    vertical-align: middle;
    font-size: 18px;
    overflow: auto;
    font-family: Montserrat;
}

.box3 {
    border: 5px solid #FEF7E5;
    max-width: 500px;
    height: 400px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: #FEF7E5;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    overflow: auto;
    font-family: Montserrat;
}

.marg {
    margin-top: 100px;
}

h1#profh1 {
    font-size: 30px; 
    text-shadow: -5px 4px 2px #E89DA2;
}

h1#h1port {
    font-size: 25px; 
    text-shadow: -4px 3px 2px #E89DA2;
}


  /* For width 400px and larger: */
@media only screen and (min-width: 450px) {
    img#homepic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
        max-height: 500px;
        height: auto;
        margin-top: 100px;
    }

    p {
        text-align: left;
        font-size: 15px;
    }

    .h3exp {
        font-size: 20px; 
        font-family: Montserrat;
        text-align: left;
    }

    h1#h1port {
        font-size: 50px; 
        text-shadow: -4px 3px 2px #E89DA2;
    }

    h1#profh1 {
        font-size: 60px; 
        text-shadow: -5px 4px 2px #E89DA2;
    }

    .marg {
        margin-top: 100px;
    }

    button#b1 {
        font-family: 'Abril Fatface', cursive;
        font-size: 30px;
        min-height: 50px;
        min-width: 250px;
        box-shadow: -6px 6px 2px #E89DA2;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #FEF7E5;
    }

    button#socmed {
        font-family: 'Montserrat', cursive;
        font-size: 18px;
        min-height: 40px;
        min-width: 300px;
        box-shadow: -6px 6px 1px #E89DA2;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #FEF7E5;
        color: #5b8c85;
    }

    .profilePhoto {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        max-height: 400px;
        margin-top: auto;
        margin-bottom: auto;
        box-shadow: -10px 10px 1px #E89DA2;
    }

    .box {
        border: 5px solid #FEF7E5;
        max-width: 500px;
        height: 400px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        color: #FEF7E5;
        vertical-align: middle;
        font-size: 22px;
        overflow: auto;
        font-family: Montserrat;
    }

    h1#homeh1 {
        text-align: center;
        font-family: 'Abril Fatface', cursive;
        font-style: normal;
        font-weight: normal;
        color: #FEF7E5;
        text-shadow: -8px 4px 4px #E89DA2;
        font-size: 80px;
        margin-top: 50px;
    }
}

@media only screen and (min-height: 1000px) {
    h1#homeh1 {
        text-align: center;
        font-family: 'Abril Fatface', cursive;
        font-style: normal;
        font-weight: normal;
        color: #FEF7E5;
        text-shadow: -8px 4px 4px #E89DA2;
        font-size: 100px;
        margin-top: 150px;
    }

    h1#profh1 {
        font-size: 80px; 
        text-shadow: -5px 4px 2px #E89DA2;
    }

    .marg {
        margin-top: 200px;
    }

    img#homepic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        max-height: 600px;
        margin-top: 200px;
        height: auto;
        margin-bottom: auto;
    }

    h1#h1port {
        font-size: 50px; 
        text-shadow: -4px 3px 2px #E89DA2;
    }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .marg {
        margin-top: 270px;
    }

    h1#h1port {
        font-size: 50px; 
        text-shadow: -4px 3px 2px #E89DA2;
    }
}

nav#thisnav {
    font-family: Abril Fatface;
    font-size: 25px;
}

footer#copyright {
    font-family: Montserrat;
    font-size: 5px;
    color: grey;
    text-align: center;
}

.modalpic {
    max-width: 50px; 
    margin: 20px;
}

button#b1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    min-height: 40px;
    min-width: 100px;
    box-shadow: -6px 6px 2px #E89DA2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FEF7E5;
}

h1#friendList {
    color: black;
    font-size: 20px;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 10px;
    padding-right: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px whitesmoke; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #FEF7E5; 
    border-radius: 5px;
  }

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 100%;
}