{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<title>Experience</title>
      <div class="marg">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h1 style="font-size: 50px; text-shadow: -4px 3px 2px #E89DA2;">
                Education</h1> <br>
            <div class="box2">
                <div class="row" style="float: center;">
                    <div class="col-sm-3" style="float: right; padding-top:10px">
                        <img src="{% static 'images/makara.png' %}" alt="kuliah" style="max-width: 75px;">
                    </div>
                    <div class="col-sm-8" style="float: left; text-align: left; 
                    padding-left: 3px; padding-top:15px">
                        <h3 class="h3exp">
                            Faculty of Computer Science Universitas Indonesia</h3>
                        <p>2018 - Present</p> <br>
                    </div>
                  </div>
                  <div class="row" style="float: center;">
                    <div class="col-sm-3" style="float: right;">
                        <img src="{% static 'images/labschool.png' %}" alt="sma" style="max-width:75px;">
                    </div>
                    <div class="col-sm-8" style="float: left; text-align: left; 
                    padding-left: 3px;">
                        <h3 class="h3exp" style="padding-top:7px">
                        SMA Labcshool Kebayoran </h3>
                        <p>2015 - 2018</p><br>
                    </div>
                  </div>
                  <div class="row" style="float: center;">
                    <div class="col-sm-3" style="float: right;">
                        <img src="{% static 'images/labschool.png' %}" alt="smp" style="max-width:75px">
                    </div>
                    <div class="col-sm-8" style="float: left; text-align: left; 
                    padding-left: 3px;">
                        <h3 class="h3exp" style="padding-top:7px">
                            SMP Labschool Kebayoran</h3>
                        <p> 2013 - 2015</p>
                    </div>
                  </div>
            </div>
          </div>
          <div class="carousel-item">
            <h1 style="font-size: 50px; text-shadow: -4px 3px 2px #E89DA2;">
                Experience</h1> <br>
            <div class="box2" style="padding-left: 100px;">
                <div class="container">
                    <div class="row">
                      <div class="col" style="padding-top:15px">
                            <img src="{% static 'images/money.png' %}" alt="money" style="max-width: 50px;">
                            <h3 class="font20">
                            Vice Person in Charge of Fundraising</h3>
                            <p>
                            COMPFEST 12 <br>
                            2020 </p> 
                        </div>
                        <div class="col">
                            <img src="{% static 'images/algebra.png' %}" alt="algebra" style="max-width: 55px;">
                            <h3 style="font-size: 22px;" style="padding-top:15px">
                            Linear Algebra Teaching Assistant </h3>
                            <p>
                            Fasilkom UI <br>
                            2020 </p> 
                        </h3>
                        </div>
                      </div>
                      <div class="row">
                      <div class="col">
                        <img src="{% static 'images/contract.png' %}" alt="doc" id="pad" style="max-width: 50px;">
                        <h3 class="font20">
                            <b> Staff of Editorial Marketing </b> </h3>
                        <p>
                        COMPFEST 11 <br>
                        2019 </p>
                      </div>
                      <div class="col">
                        <img src="{% static 'images/camera.png' %}" alt="make up" style="max-width: 50px;">
                        <h3 class="font20">
                            Staff of Documentation</h3>
                        <p>
                        OH Fasilkom UI<br>
                        2019 </p>
                        </h3>
                      </div>
                      </div>
                    </div>
                </div>
          </div>
          <div class="carousel-item">
            <h1 style="font-size: 50px; text-shadow: -4px 3px 2px #E89DA2;">
                Skills</h1> <br>
            <div class="box2">
                <div class="container">
                    <div class="row">
                      <div class="col" style="padding-top: 20px;">
                        <img class="skills" src="{% static 'images/java.png' %}" alt="java">
                        <h2 style="text-align: center; font-size: 25px;">Java</h2>
                        </div>
                        <div class="col" style="padding-top: 20px;">
                        <img class="skills" src="{% static 'images/sql.png' %}" alt="sql">
                        <h2 style="text-align: center; font-size: 25px;">SQL</h2>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col" style="padding-top: 20px;">
                        <img class="skills" src="{% static 'images/py.png' %}" alt="py">
                        <h2 style="text-align: center; font-size: 23px;">Python</h2>
                      </div>
                      <div class="col" style="padding-top: 20px;">
                        <img class="skills" src="{% static 'images/html.png' %}" alt="html">
                        <h2 style="text-align: center; font-size: 23px;">HTML</h2>
                      </div>
                    </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br>
    </div>
    <br>
{% endblock %}