<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
</head>

<body id="page-top">
<nav id="thisnav" class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #FEF7E5; min-height: 80px;">
        TSAMARA E. ERWIN
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:story3' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:profilepage' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:experience' %}">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:portfolio' %}">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:seefriend' %}">Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#Modal">Contact Me</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Challenge -->
      <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Reach me out through:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="text-align: center;">
              <a href="https://www.instagram.com/sarahesperanti" style="text-decoration: none; text-align: center;"> 
                <img src="{% static 'images/Instagram.png' %}" alt="ig" class="modalpic"> 
              </a>
              <a href="https://www.linkedin.com/in/tsamara-esperanti-erwin" style="text-decoration: none; text-align: center;"> 
                <img src="{% static 'images/linkedin.png' %}" alt="linkedin" class="modalpic"> 
            </a>  
            <a href="https://www.twitter.com/estsamara" style="text-decoration: none; text-align: center;"> 
              <img src="{% static 'images/twitter.png' %}" alt="twt" class="modalpic"> 
          </a>  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #FEF7E5; color: black;">Close</button>
            </div>
          </div>
        </div>
      </div>
      {% block content %}

      {% endblock %}
      
      {% include 'copyright.html' %}
    
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>