{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<title>Portfolio</title>
<div class="marg">
      <h1 id="h1port"> design and things that i love </h1>
      <br>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="box" style="height: 188px;">
                <h2 style="font-size: 30px; text-align: 
                center; padding-top: 1px; padding-bottom: 1px;margin-top: -30px;
                font-family: Abril Fatface;">
                    EDITING SKILLS</h2>
                    <div class="container">
                        <div class="row">
                          <div class="col">
                            <img class="skills" src="{% static 'images/imovie.png' %}" alt="imovie" style="max-width: 45px;">
                            <h2 style="text-align: center; font-size: 20px;">iMovie / Final Cut Pro</h2>
                          </div>
                          <div class="col" style="padding-left: 30px;">
                            <img class="skills" src="{% static 'images/photoshop.png' %}" alt="photoshop" style="max-width: 45px;">
                            <h2 style="text-align: center; font-size: 20px;">Adobe Photoshop</h2>
                          </div>
                     </div>
                </div> 
              </div>
              <br>
              <div>
                  <h1 style="font-size: 30px; text-shadow: -4px 3px 2px #E89DA2;">K-DESIGNS</h1>
                  <div class="box" style="text-align: center;">
                    <img src="{% static 'images/20190827.png' %}" alt="sticker" style="max-width: 200px;">
                    <br>
                    <br>
                    <img src="{% static 'images/slogan.png' %}"" alt="slogan" style="max-width: 200px;">
                  </div>
              </div>  
                    <br>
          </div>
          <div class="col-sm-1"></div>
          <div class="col">
            <div class="box" style="text-align: center;">
              <h2 style="font-size: 30px; text-align: 
              left; padding-top: 1px; margin-top: -30px;
              font-family: Abril Fatface;">
                  LETTERING</h2>
                  <img src="{% static 'images/L3.jpg' %}" alt="L3" style="max-width: 200px;">
                  <br><br>
                  <img src="{% static 'images/L1.jpg' %}" alt="L1" style="max-width: 200px;">
                  <br><br>
                  <img src="{% static 'images/L2.jpg' %}" alt="L2" style="max-width: 200px;">
                </div>
                <br><br>
                <h1 style="text-align: center; font-size: 60px; padding-left: 20px; text-shadow: -4px 3px 2px #E89DA2;"> 
                  See more of my portfolio 
                  <a href="https://instagram.com/teetypes" style="color: #FEF7E5; text-shadow: 0px 0px 0px; text-decoration: none;"> here.</a>
                </h1>
            </div>
            <br>
          </div>
        </div>
    </div>
  </div>
{% endblock %}