{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<title>Profile</title>
<div class="marg">
  <h1 id="profh1"> Tsamara Esperanti Erwin </h1>
      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class= "box" style="text-align: right;">
                Hello! My name is Sarah. 
                I'm currently a second-year Computer Science undergraduate in
                Universitas Indonesia. I'm a passionate and hard-working person
                who's seeking more experience in IT-related field. I'd love to learn
                more about data science and UI/UX.
            </h2>
          </div>
          <div class="col">
            <div style="
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 5px; padding-bottom: 15px;">
            <img class="profilePhoto" src="{% static 'images/profile.JPG' %}" alt="me">
          </div>
          </div>
          <div class="col">
            <h2 class="box" style="font-size: 20px; text-align: center;"> 
                Let's stay in touch.
                <br>
                <br>
            <a href="https://www.instagram.com/sarahesperanti" style="text-decoration: none;"> 
                <button id="socmed" type="button" class="btn btn-light">
                <img src="{% static 'images/Instagram.png' %}" alt="ig" style="max-width: 30px;"> 
                @sarahesperanti </button> 
            </a> 
            <br>
            <a href="https://www.linkedin.com/in/tsamara-esperanti-erwin" style="text-decoration: none;"> 
                <button id="socmed" type="button" class="btn btn-light">
                <img src="{% static 'images/linkedin.png' %}" alt="linkedin" style="max-width:30px;">
                Tsamara Esperanti Erwin </button> 
            </a> 
            <br>
            <a href="https://www.twitter.com/estsamara" style="text-decoration: none;"> 
              <button id="socmed" type="button" class="btn btn-light">
              <img src="{% static 'images/twitter.png' %}" alt="twitter" style="max-width:30px;">
              @estsamara </button> 
            </a> 
            <br>
            <p style="font-size: 20px; text-align: center;">
             or send me 
                <a href="mailto:sarah.esperanti@gmail.com" style="color: gray; text-decoration: none;"> 
                an email.
            </a>
            </p>
            </h2>
          </div>
        </div>
      </div>
    </div>
 {% endblock %}