{% extends 'navbar.html' %}

{% load static %}

{% block content %}
<title>See Friends</title>
<br><br><br><br>
<h1 id="profh1">My Friends</h1>
<br>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      {% for friend in friends %}
          <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}">
              <div class="box3">
                <br>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-2" style="margin-left: 60px;">
                      <img src="{% static 'images/user.png' %}" alt="name" style="max-width:40px;">
                    </div>
                    <div class="col-sm">
                      <h2>{{ friend.name }}</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2" style="margin-left: 60px;">
                      <img src="{% static 'images/mortarboard.png' %}" alt="batch" style="max-width:40px;">
                    </div>
                    <div class="col-sm">
                      <h2>{{ friend.ClassYear }}</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2" style="margin-left: 60px;">
                      <img src="{% static 'images/puzzle.png' %}" alt="hobby" style="max-width:40px;">
                    </div>
                    <div class="col-sm">
                      <h2>{{ friend.hobby }}</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2" style="margin-left: 60px;">
                      <img src="{% static 'images/dish.png' %}" alt="food" style="max-width:40px;">
                    </div>
                    <div class="col-sm">
                      <h2>{{ friend.food }}</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2" style="margin-left: 60px;">
                      <img src="{% static 'images/coffee-cup.png' %}" alt="food" style="max-width:40px;">
                    </div>
                    <div class="col-sm">
                      <h2>{{ friend.drink }}</h2>
                    </div>
                  </div>
                  </div>
                  <br>
                  <a href="/seefriend/deletefriend/{{friend.name}}"><button type ="button" class="btn btn-danger btn-sm mt-3">
                    Delete</button></a>
                </div>
          </div>
      {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<h2 style="color: #FEF7E5; text-align:center; font-size: 15px; margin-top: 15px;">
  click the arrows to see more!</h2>
<a href="{% url 'homepage:addfriend' %}" style="text-decoration: none;"> 
  <button id="friendButton" type="button" class="btn btn-light">
    Add Friends</button> </a>


{% endblock %}