{% extends 'navbar.html' %}

{% load static %}
{% block content %}
<title>Homepage</title>
      <div class="container" style="align-items: center;">
        <div class="row">
          <div class="col head1">
            <h1 id="homeh1"> 
              Hi there,
              <br>
              I'm Sarah.
          </h1>
          <br>
            <a href="{% url 'homepage:profilepage' %}" style="text-decoration: none;"> 
              <button id="b1" type="button" class="btn btn-light">
                Get to know me! </button> </a>
          </div>
          <div class="col head1" style="margin-top: 20px">
            <img src="{% static 'images/profpic.png' %}" alt="my photo" id="homepic">
          </div>
        </div>
        </div>
        <div class="container">
          <div class="row" style="margin-bottom: 2px;">
            <div class="col">
              <a href="{% url 'homepage:seefriend' %}" style="text-decoration: none;"> 
                <button id="friendButton" type="button" class="btn btn-light">
                  See Friends </button> </a>
            </div>
            <div class="col">
              <a href="{% url 'homepage:addfriend' %}" style="text-decoration: none;"> 
                <button id="friendButton" type="button" class="btn btn-light">
                  Add Friends </button> </a>
            </div>
          </div>
        </div>
{% endblock %}